:root {
    --header-background: #16161a;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    padding: 0px;
    margin: 0px;
    
    min-height: 100vh;
    height: 100%;
}

#header {
    display: flex;
    align-items: center;
    
    gap: 10px;
    width: 100%;
    height: 80px;
    
    background-color: #16161a;
}

#header .icon:first-of-type {
    margin-left: 20px;
}

.icon {
    width: 40px;
    height: auto;
    border-radius: 4px;
    
    cursor: pointer;
    user-select: none;
    
    transition: background-color 100ms;
}

.icon:hover {
    background-color: #7f5af0;
}

#icon-menu {
    content: url('../img/icon-menu.svg');
    
}

#icon-home {
    content: url('../img/icon-home.svg');
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 50px;
    gap: 10px;
    margin-top: auto;
    
    background-color: #242629;
}

#footer p {
    font-size: 12px;
    font-weight: 500;
    color: #94a1b2;
}

#footer img {
    display: inline-block;
    content: url('../img/github-mark.png');
    width: 24px;
    height: auto;
    
    transition: transform .3s;
}

#footer img:hover {
    transform: rotateZ(360deg);
}

#content {
    display: flex;
    
    background-color: #242629;
    
    height: 100%;
    width: 100%;
}

#dashboard {
    position: relative;
    width: 300px;
    min-width: 300px;
    height: 100%;
    max-height: 100%;
    
    padding: 0px;
    gap: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    /*transition: width 1s, min-width 1s;*/
    transition: transform .5s;
}

#dashboard > *:not(#dashboard-background) {
    z-index: 1;
}

.dash-item:nth-child(2) {
    margin-top: 20px;
}

#dashboard-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: #16161a;
}

.dashboard-hide {
    transform: translateX(-100%);
}

.dash-icon {
    height: auto;
    width: 24px;
}

.dash-text {
    color: #fffffe;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 160px;
}

.dash-options {
    width: 20px;
    height: 20px;
    
    text-align: center;
    
    margin-left: auto;
    outline: none;
    border: none;
}

.dash-options:hover {
    filter: brightness(80%);
}

.dash-bullet {
    content: url('../img/icon-bullet.svg');
    height: auto;
    width: 16px;
}

.dash-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
    
    gap: 10px;
    padding-left: 10px;
    border-radius: 4px;
    
    width: 80%;
    height: 40px;
}

.dash-item:hover {
    background-color: #7f5af0;
    cursor: pointer;
    user-select: none;
}

.dash-active {
    background-color: #7f5af0;
}

#todo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    height: 100%;
    
    background-color: #242629;
    transition: margin-left .5s;
}

.todo-expand {
    margin-left: -300px;
}

#inbox img {
    content: url('../img/icon-inbox.svg');
}

#projects {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
    width: 80%;
    height: 100%;
    max-height: 60%;
    user-select: none;
}

#projects-tab {
    display: flex;
    align-items: center;
    
    cursor: pointer;
    
    width: 100%;
    height: 40px;
    min-height: 40px;
    padding-left: 10px;
    gap: 10px;
    border-radius: 4px;
}

#projects-tab:hover {
    background-color: #7f5af0;
}

#projects-tab > span + img {
    margin-left: auto;
}

#projects-add {
    content: url('../img/icon-add-projects.svg');
    width: 24px !important;
    height: auto;
    cursor: pointer;
}

#projects-toggle {
    content: url('../img/icon-arrow.svg');
    cursor: pointer;
    transition: .2s;
}

#projects-toggle:hover,
#projects-add:hover {
    filter: brightness(80%);
}

.projects-add-close {
    transform: rotateZ(90deg);
}

.projects-list-hide {
    max-height: 0px !important;
}

#projects-list {
    width: 100%;
    height: auto;
    max-height: 100%;
    
    overflow-x: hidden;
    overflow-y: auto;
    
    padding: 0;
    margin: 0;
    
    transition: max-height .3s;
}

#projects-list-options {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    top: 0;
    left: 0;
    
    width: 60px;
    height: auto;
    gap: 10px;
    padding: 4px 0px;
    border-radius: 4px;
    z-index: 6;
    
    background-color: #242629;
}

#projects-list-options *:not(#options-overlay) {
    z-index: 6;
}

#options-overlay {
    position: fixed;
    z-index: 5;
    
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.1;
}

input[type=image] {
    position: relative;
}

#projects-list-options button {
    width: 90%;
    height: 100%;
    
    border: none;
    cursor: pointer;
    border-radius: 4px;
    
    background-color: #242629;
    color: #fffffe;
}

#projects-list-options button:hover {
    background-color: #7f5af0;
}

.project {
    display: flex;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    
    width: 100%;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    
    margin-bottom: 10px;
}

.project > div {
    margin-right: 10px;
}

.project:hover {
    background-color: #7f5af0;
}

#projects-add-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
}

#projects-add-modal *:not(#projects-add-form-overlay) {
    z-index: 2;
}

.form-hide {
    display: none !important;
}

#projects-add-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    z-index: 1;
    opacity: 0.5;
    background-color: black;
}

#projects-add-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
    width: 400px;
    padding: 30px;
    border-radius: 4px;
    gap: 30px;
    
    background-color: #242629;
}

#projects-add-form > span {
    color: #fffffe;
    border-bottom: 1px solid #16161a;
    
    width: 100%;
    padding-bottom: 20px;
    
    font-size: 24px;
    font-weight: 800;
}

#projects-add-form label {
    margin-left: 4px;
    color: #fffffe;
    font-weight: 800;
}

#projects-add-form input[type=text] {
    width: 100%;
    border-radius: 4px;
    box-sizing:border-box;
    
    background-color: #94a1b2;
    color: #16161a;
    
    font-weight: 600;
}

#projects-add-form input[type=text]:focus {
    outline: #7f5af0 solid 1px;
}

#form-name {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    gap: 6px;
}

#form-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    width: 100%;
    height: 60px;
    gap: 10px;
    padding-top: 20px;
    margin-top: auto;
    
    border-top: 1px solid #16161a;
}

#form-btn-cancel,
#form-btn-add {
    background-color: #7f5af0;
    color: #fffffe;
    
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
    width: 80px;
    height: 30px;
}

#form-btn-cancel {
    background-color: #72757e !important;
}

#form-btn-cancel:hover {
    background-color: #4A4D56 !important;
}

#form-btn-add:hover:not(.disabled) {
    background-color: #5732C8 !important;
}

.disabled {
    filter: grayscale(1);
}

.disabled:hover {
    cursor: not-allowed !important;
}

#form-color {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3 !important;
    
    width: 100%;
    height: 100%;
}

#form-color-picker {
    display: flex;
    align-items: center;
    
    gap: 10px;
    border-radius: 4px;
    width: 100%;
    height: 24px;
    
    background-color: #94a1b2;
    border: none;
}

#form-color-picker:hover {
    background-color: #6C798A;
}

#color-picker-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    
    margin-top: 26px;
    width: 100%;
    padding: 0px;
    border-radius: 4px;
    
    max-height: 200px;
    
    background-color: #94a1b2;
    overflow-y: auto;
    
    list-style: none;
    list-style-type: none;
}

.color-picker-name {
    pointer-events: none;
}

.hide {
    display: none !important;
    
}

.color-picker-item {
    display: flex;
    align-items: center;
    
    gap: 10px;
    height: 24px;
    width: 100%;
    padding-left: 6px;
    border-radius: 4px;
    
    box-sizing: border-box;
    color: #fffffe;
}

.color-picker-item:hover {
    background-color:#6C798A;
}

.color-picker-color {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    pointer-events: none;
}

#todo-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    list-style: none;
    
    gap: 10px;
    padding: 40px 0px;
    height: 100%;
    width: 100%;
}

#todo-title {
    color: #fffffe;
    font-size: 24px;
    font-weight: 700;
    user-select: none;
}

#todo-add {
    border-bottom: none;
    user-select: none;
}

#todo-add:hover #todo-add-text {
    color: #7f5af0;
}

#todo-add-btn {
    content: url('../img/icon-add-projects.svg');
    height: auto;
    width: 16px;
}

#todo-add-text {
    color: #94a1b2;
}

.todo-task {
    display: flex;
    align-items: center;
    gap: 10px;
    
    width: 40%;
    height: auto;
    min-height: 40px;
    padding: 10px;
    
    border-bottom: 1px solid #72757e;
}

.todo-task-check {
    position: relative;
    cursor: pointer;
    
    height: 20px;
    width: 20px;
    
    border-radius: 50%;
    background-color: #242629;
}

.todo-task-check:hover::before {
    content: url('../img/icon-check.svg');
    position: absolute;
    
    top: 0;
    left: 0;
    
    height: auto;
    width: 16px;
}

.todo-task-check-priority-1 {
    border: 2px solid red;
}

.todo-task-check-priority-2 {
    border: 2px solid orange;
}

.todo-task-check-priority-3 {
    border: 2px solid blue;
}

.todo-task-check-priority-4 {
    border: 2px solid #fffffe;
}

.todo-task-content {
    display: flex;
    flex-direction: column;
    
    gap: 4px;
    cursor: auto;
    
    margin-right: auto;
}

.todo-task-title {
    color: #fffffe;
}

.todo-task-desc {
    color: #72757e;
}

.todo-task-date {
    display: flex;
    align-items: center;
    gap: 6px;
    
    color:#7f5af0;
}

.todo-task-date-img {
    content: url('../img/icon-calendar.svg');
    height: auto;
    width: 16px;
}

.todo-task-options {
    display: flex;
    align-items: center;
    
    gap: 10px;
}

.todo-task-options input[type=image] {
    height: auto;
    width: 20px;
    padding: 4px;
    border-radius: 4px;
}

.todo-task-options input[type=image]:hover {
    background-color: #7f5af0;
}

.todo-task-edit {
    content: url('../img/icon-edit.svg');
}

.todo-task-delete {
    content: url('../img/icon-delete.svg');
}

.todo-modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    
    gap: 10px;
    
    inset: 50% 50% 50% 50%;
}

.todo-modal-overlay {
    position: absolute;
    
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    background-color: black;
    opacity: 0.8;
}

.modal {
    position: fixed;
    inset: 50%;
    margin-left: -200px;
    margin-top: -150px;
    box-sizing: border-box;
    
    height: 300px;
    width: 400px;
    
    z-index: 1000;
}

.modal *:not(.modal-overlay) {
    z-index: 1000;
}

.modal-overlay {
    position: fixed;
    
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    background-color: black;
    opacity: 0.8;
}

.modal-title {
    color: #fffffe;
    font-size: 24px;
    font-weight: 700;
    padding-left: 10px;
    padding-bottom: 10px;
    
    border-bottom: 1px solid #72757e;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    box-sizing: border-box;
    padding: 20px;
    
    gap: 10px;
    
    width: 100%;
    height: 100%;
    
    background-color: #242629;
    border-radius: 4px;
    border: 2px solid #72757e;
}

.modal-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    
    align-self: center;
    
    width: 80%;
    max-width: 80%;
}

.modal-field * {
    width: 100%;
}

.modal-field label {
    color: #94a1b2;
}

.modal-field input {
    background-color: #94a1b2;
    color: #16161a;
    font-weight: 700;
    border-radius: 4px;
}

.modal-field input::placeholder {
    color: #4A4D56;
}

.modal-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    gap: 10px;
    border-top: 1px solid #72757e;
    padding-top: 20px;
}

.modal-btns-cancel,
.modal-btns-add {
    width: 60px;
    height: 30px;
    
    border: none;
    border-radius: 4px;
    
    cursor: pointer;
    color: #fffffe;
}

.modal-btns-cancel {
    background-color: #72757e;
}

.modal-btns-cancel:hover {
    background-color: #4A4D56;
}

.modal-btns-add {
    background-color: #7f5af0;
}

.modal-btns-add:hover {
    background-color: #5732C8;
}

.modal-disabled {
    display: none !important;
}